.top-container{
    display: flex;
    flex-direction: column;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(35, 42, 96);
}
.nav-links{
    display: flex;
    gap: 2em;
}
.nav-links > a{
    text-decoration: none;
    color: white;
}
.icon_btn{
    border: none;
    background: transparent;
    outline: none;
    display: none;
}

@media screen and (max-width: 767px){
    .icon_btn{
        display: block;
    }
    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        height: 300px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(35, 42, 96);
        color: white;
        transform: translateY(-100vh);
        transition: 1s;
    }
    .navbar-container .responsive_navbar{
        transform: none;
    }
    .icon_close{
        position: absolute;
        top: 1.7em;
        right: 1.7em;
    }
}