.herohome-container{
    display: flex;
    justify-content: space-between;
    background-image: url("../components/images/herobgImg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
}
.herohome-details{
    max-width: 500px;
    padding: 150px 0px;
}

@media screen and (max-width: 767px){
    .herohome-details{
       padding: 70px 0px; 
    }
}